.point-of-sale-app {
	.items-container {
		.spinner-overlay {
			grid-column: span 4 / span 4;
    		margin: auto;

			.spinner {
				width: 30px;
				height: 30px;
				border: 2px solid #f3f3f3;
				border-top: 2px solid #3498db;
				border-radius: 50%;
				animation: spin 1s linear infinite;
			}
			
			@keyframes spin {
				0% { transform: rotate(0deg); }
				100% { transform: rotate(360deg); }
			}
		}

	}
	.items-selector {
		
		.filter-section {
<<<<<<< HEAD
=======
			.mata-pelajaran-field {
				grid-column: span 3 / span 3;
				display: flex;
				align-items: center;
				margin-left: var(--margin-sm);
			}

>>>>>>> 8be7fac (feat(poo): tambahan dialog ketika pilih item d item selector)
			.jenjang-field {
				grid-column: span 4 / span 4;
				display: flex;
				align-items: center;
				margin: 0px var(--margin-sm);
			}

			.kode-kelas-field {
				grid-column: span 3 / span 3;
				display: flex;
				align-items: center;
			}
		}
	}
    .customer-cart-container {
        .transaction-section {
            display: flex;
			flex-direction: column;
			padding: var(--padding-md) var(--padding-lg);
			overflow: visible;

            .fund-source-field {
				display: flex;
				align-items: center;
				padding-top: var(--padding-xs);
			}
        }
    }
}