<div>
    {% set dn = frappe.db.get_value("Delivery Note", doc.delivery_note, ["company", "branch", "seller", "customer_address", "contact_mobile"], as_dict=1) %}

    <table style="width: 100%;font-size: inherit;">
        <col style="width: 25%">
        <col style="width: 3%">
        <col style="width: 42%">
        <col style="width: 30%">
        <tr>
            <td colspan="4">
                {{ dn.company }}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                {{ "-" }}
            </td>
        </tr>
        <tr>
            <td colspan="4">
                {{ "-" }}
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td class="text-center" colspan="4">
                <b style="font-size: large;">SALES RETURN REQUEST</b>
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="4" style="border-bottom: 3px double #000;">
                {{ doc.name }}
            </td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3">Received From:</td>
            <td>To:</td>
        </tr>

        <tr>
            <td>Customer Name</td>
            <td>:</td>
            <td>{{ doc.customer_name }}</td>
            <td>{{ dn.seller }}</td>
        </tr>
        {% set seller = frappe.db.get_value("Seller", dn.seller, ["address", "mobile_no"], as_dict=1) %}
        <tr>
            <td>Contact Number</td>
            <td>:</td>
            <td>{{ dn.contact_mobile or "" }}</td>
            <td>
                {{ seller.address or "" }}
                <br>
                {{ seller.mobile_no or "" }}
            </td>
        </tr>
        {% set ad_cust = frappe.db.get_value("Address", dn.customer_address, ["address_line1", "city", "state"], as_dict=1) %}
        <tr>
            <td>Address</td>
            <td>:</td>
            <td>
                {% if ad_cust.address_line1 %}
                    {{ ad_cust.address_line1 }} {{ ad_cust.city or "" }} {{ ad_cust.state or "" }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Position</td>
            <td>:</td>
            <td>{{ "-" }}</td>
        </tr>
        <tr>
            <td>Return Date</td>
            <td>:</td>
            <td>{{ frappe.utils.formatdate(doc.posting_date, "dd/MM/YYYY") }}</td>
        </tr>
        <tr>
            <td>Return Reason</td>
            <td>:</td>
            <td>{{ doc.sales_return_reason }}</td>
        </tr>
        {% set so = frappe.db.get_all("Delivery Note Item", 
            filters={"parent": doc.delivery_note}, pluck="against_sales_order", group_by="against_sales_order") %}
        <tr>
            <td>Sales Order</td>
            <td>:</td>
            <td>{{ so|join(",") }}</td>
        </tr>
        <tr>
            <td>Delivery Order</td>
            <td>:</td>
            <td>{{ doc.delivery_note }}</td>
        </tr>
        <tr>
            <td>Receive Date</td>
            <td>:</td>
            <td></td>
        </tr>
        <tr>
            <td>Branch</td>
            <td>:</td>
            <td>{{ dn.branch or "" }}</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
    </table>

    <table class="table-bordered" style="width: 100%;font-size: inherit;">
        <col style="width: 5%">
        <col style="width: 17%">
        <col style="width: 24%">
        <col style="width: 8%">
        <col style="width: 12%">
        <col style="width: 16%">
        <col style="width: 18%">
        <tr>
            <td class="text-center">No</td>
            <td class="text-center">Item Code</td>
            <td class="text-center">Item Name</td>
            <td class="text-center">Qty</td>
            <td class="text-center">UoM</td>
            <td class="text-center">Qty Accepted</td>
            <td class="text-center">Qty Rejected</td>
        </tr>
        {% set total = {"grand_total": 0 } %}
        {% for d in doc.items %}
        <tr>
            <td class="text-center" style="vertical-align: middle !important;">{{ d.idx }}</td>
            <td style="vertical-align: middle !important;">{{ d.item_code }}</td>
            <td style="vertical-align: middle !important;">{{ d.item_name }}</td>
            <td class="text-center" style="vertical-align: middle !important;">{{ d.get_formatted("qty") }}</td>
            <td class="text-center" style="vertical-align: middle !important;">{{ d.get_formatted("stock_uom") }}</td>
            <td class="text-right" style="vertical-align: middle !important;"></td>
            <td class="text-right" style="vertical-align: middle !important;"></td>
        </tr>
        {% endfor %}
    </table>

    <table style="width: 100%;font-size: inherit;margin-top:10px">
        <col style="width: 25%">
        <col style="width: 3%">
        <col style="width: 38%">
        <col style="width: 34%">
        <tr>
            <td>Total Qty</td>
            <td>:</td>
            <td colspan="2">{{ doc.get_formatted("total_qty") }}</td>
        </tr>
        <tr>
            <td>Total Box</td>
            <td>:</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>

    <table border="1" style="page-break-inside: avoid;width:100%; text-align:center; font-size:8pt">
        <colgroup>
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
            <col style="width:25%">
        </colgroup>
        <tbody>
            <tr>
                <td>Customer</td>
                <td>BO Officer</td>
                <td>Logistic Officer</td>
                <td>Warehouse Officer</td>
            </tr>
            <tr>
                <td><br><br><br><br>(TTD)</td>
                <td><br><br><br><br>(TTD)</td>
                <td><br><br><br><br>(TTD)</td>
                <td><br><br><br><br>(TTD)</td>
            </tr>
            <tr>
                <td>{{ doc.customer_name }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{ doc.checker_name }}</td>
            </tr>
        </tbody>
    </table>
</div>